<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>게시물 작성 폼</title>
</head>
<style>
    .layout {
        width: 500px;
        margin: 0 auto;
    }

    .layout input, .layout textarea, .layout select {
        width: 100%;
        box-sizing: border-box;
    }

    .layout textarea {
        margin-top: 10px;
        min-height: 300px;
    }

    .layout select {
        margin-top: 10px;
        padding: 5px;
    }
</style>
<body>
<div class="layout">
    <form action="/free-board/writepro" method="post" enctype="multipart/form-data">
        <input name="title" type="text" placeholder="제목을 입력하세요">

        <!-- 카테고리 선택 추가 -->
        <select name="category">
            <option value="ALL">전체</option>
            <option value="NOTICE">공지</option>
            <option value="QUESTION">질문</option>
            <option value="CHAT">잡담</option>
        </select>

        <textarea name="content" placeholder="내용을 입력하세요"></textarea>
        <input type="file" name="file">
        <button type="submit">작성</button>
    </form>
</div>
</body>
</html>
